{include file="head.tpl"}


<script type="text/javascript">
{literal}

{/literal}
</script>
<body>
<div id="wrapper">
	{include file="header.tpl"}
	{include file="sidebar.tpl"}
	<div id="main_content">
		<h3>広告管理トップページ</h3>


		<ul>
		<li><a href="ad/list/?pp=0&vp=0">ページ/右</a></li>
<!--
		<li><a href="ad/list/?pp=0&vp=1">TOP/左</a></li>
		<li><a href="ad/list/?pp=1&vp=0">下層/右</a></li>
		<li><a href="ad/list/?pp=1&vp=1">下層/左</a></li>
-->
		</ul>

	</div>

</div>
{include file="footer.tpl"}
</body>
</html>
