{include file="head.tpl"}
<script type="text/javascript">
{literal}

{/literal}
</script>
<body>
<div id="wrapper">
	{include file="header.tpl"}
	{include file="sidebar.tpl"}
	<div id="main_content">
		<h3>ERROR</h3>

{include file="messages.tpl"}


	</div>
</div>
{include file="footer.tpl"}
</body>
</html>
