{include file="head.tpl"}
<script type="text/javascript">
{literal}

{/literal}
</script>
<body>
<div id="wrapper">
	{include file="header.tpl"}
	{include file="sidebar.tpl"}
	<div id="main_content">
		<h4>トップページ</h4>


	</div>
</div>
{include file="footer.tpl"}
</body>
</html>
