@CHARSET "utf-8";
body{
	color:#434A54;
	font-family: 'Roboto','Meiryo','メイリオ','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',serif;
	font-size:12px;
	background:#F1F2F6;
}

a {
    color: #428BCA;
    text-decoration: none;
}
a:hover, a:focus {
    color: #2A6496;
}
h2{
	font-family: 'Ubuntu', sans-serif;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
	font-size:28px;
	margin:10px 0;
}
h2 a{	color:#434A54;}

h3 {
	border-bottom:2px solid #3BAFDA;
	margin-bottom:30px;
	font-size:24px;
	padding:2px 3px;
	font-weight:normal;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}
h4 {
	margin-bottom:30px;
	font-size:18px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
	padding:2px 3px;
	font-weight:normal;
	border-bottom: 1px solid #AAB2BD;
}
h5{ font-size:14px;}
.project_image{
	margin-bottom: 5px;
	margin-top: 5px;
}
div.center {
	text-align: center;
	margin-left:auto;
	margin-right:auto;
}
.left{float:left;}
.right{float:right;}
.clear{clear:both;}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.red {
	color: #DA4453;
}
.w50 {
    width: 48%;
}
.w100 {
    width: 98%;
}
input, button{font-family: 'Roboto','Meiryo','メイリオ','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',serif;}
input[type="text"], input[type="password"], textarea, select{
	background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
   color: #555555;
   font-size: 14px;
   line-height: 1.42857;
   padding: 4px 10px;
   transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus{
    border-color: #66AFE9;
    outline: 0 none;
}
textarea{width:90%;}
hr{margin:30px 0; border:none; border-top:1px solid #D3D3D3; border-bottom:1px solid rgba(255, 255, 255, 0.7);}

#wrapper {margin: 0 auto; width:1280px; }
#wrapper-sm {margin: 0 auto; width:700px; }
#header {
	padding: 5px;
}
/*
#sidebar {
	font-size:11pt;
	width:180px;
	background-color:#EEEEEE;
	padding:3px;
	position:relative;
	border-radius:5px;
	-webkit-border-radius:5px;
	padding:5px;
}
#sidebar ul{
	margin:10px 0;
	padding:0;
}
#sidebar li{
	display:block;
}
#sidebar a{
	display:block;
	padding:2px 10px;
}
#sidebar a:hover{
	background:#DDDDDD;
	text-decoration:none;
}
*/
#main_content {
	vartical-align: top;
}
#footer {
	padding-top:10px;
	border-top: solid 1px lightgrey;
	font-size:9pt;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
	text-align:center;
	color:#656D78;
}

table {
	border-collapse: collapse;
	font-size:10pt;
}
th {
	background-color: #656D78; /*#F7F5FA;*/
	padding: 3px 5px;
	color:#FFF;
	font-weight:normal;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
	border:solid 1px #CCD1D9;/*#a9a9a9;*/
}
th.other {
	background-color: #FFE4B5;
	padding: 3px;
	border:solid 1px #a9a9a9;
}


td {
	padding: 3px 5px;
	border:solid 1px #CCD1D9; /*#E6E9ED;*/
	background:#FFF;
}

table.search {margin-bottom:10px;}
table.search th{ width:120px;}
table.list {margin-bottom:10px;}
table.detail {margin-bottom:10px;}
table.detail th {white-space:nowrap;}

table.categories {width: 100%; margin-bottom: 20px;}
table.categories th.name {width: 20%;}
table.categories th.icon {width: 20%;}
table.categories th.mark {width: 20%;}
table.categories th.parent {width: 20%;}
table.categories th.del {width: 20%;}

table.admins {width: 100%; margin-bottom: 20px;}
table.admins th.id {width: 20%;}
table.admins th.name {width: 20%;}
table.admins th.email {width: 20%;}
table.admins th.status {width: 20%;}
table.admins th.del {width: 20%;}

table.admins_m {width: 60%; margin-bottom: 20px;}

table.category_pages {width: 100%; margin-bottom: 20px;}
table.category_pages th.name {width: 20%;}
table.category_pages th.title {width: 20%;}
table.category_pages th.description {width: 20%;}
table.category_pages th.status {width: 20%;}
table.category_pages th.del {width: 20%;}

table.edit {margin-bottom: 20px;}
table input.long {
    width: 95%;
}
table input.middle {
    width: 50%;
}
table input.short {
    width: 25%;
}
table input.ime_off {
    ime-mode: disabled;
}

th .red{ color:#FC6E51;}
div.paging {
	margin-top:10px;
	margin-bottom:10px;
	font-size: 10pt;
}
div.paging div.left {
	float:left;
	width:50%;
	text-align: left;
}
div.paging div.right {
	margin-left:50%;
	text-align: right;
	margin-bottom:10px;
}
div.paging div.end {clear: both; text-align: right;}
div.paging .right b{
	display:inline-block;
	line-height: 1.42857;
   padding: 1px 6px;
}
div.paging .right a{
    -moz-user-select: none;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
	 -webkit-border-radius:3px;
    cursor: pointer;
    display: inline-block;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 1px 6px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
	 background-color: #FFFFFF;
    border-color: #CCCCCC;
    color: #333333;
}
div.paging .right a:focus, div.paging .right a:active:focus {
    outline: thin dotted;
    outline-offset: -2px;
}
div.paging .right a:hover, div.paging .right a:focus {

    text-decoration: none;
	 background-color: #EBEBEB;
    border-color: #ADADAD;
    color: #333333;
}

button, input[type="submit"], input[type="button"]{ padding:3px 10px; cursor:pointer;}



/* メッセージ表示 */
div.header_msg_base{
	margin-bottom:10px;
}
div.header_msg_error{
	border-left: 3px solid #DA4453;
    padding: 5px 20px;
	 background:#F2838F;
	 color:#FFF;
}
div.header_msg_valid {
	border-left: 3px solid #3C9773;
    padding: 5px 20px;
	 background:#B9DF90;
	 color:#4B9F76;
}
div.header_msg_warn{
	border-left: 3px solid #DA4453;
    padding: 5px 20px;
	 background:#F2838F;
	 color:#FFF;
}
/*
div.header_msg_warn{
    border-left: 3px solid #F6BB42;
    padding: 5px 20px;
	 background:#FFDD87;
}
*/
div.header_msg_info{
    border-left: 3px solid #31708F;
    padding: 5px 20px;
	 background:#7CD1EF;
	 color:#FFF;
}
div.h2msg{
	background-color: yellowgreen;
	padding:3px;
	font-size:11pt;
	margin-bottom:10px;
}


/* JMenu */
#jMenu{
	display:table;
	margin:0;
	padding:0;
	list-style:none;
	width:100%;
	table-layout:fixed;
	}

#jMenu li{
	display:table-cell;
	background-color:#4A89DC;
	margin:0;
	list-style:none;
	text-align: center;
	border-left:1px solid rgba(0, 0, 0, 0.1);
	border-right:1px solid rgba(255, 255, 255, 0.1);
	}

#jMenu li a{
	padding:6px 15px;
	display:block;
	background-color:transparent;
	color:#fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
	text-transform:uppercase;
	border-bottom:1px solid rgba(0, 0, 0, 0.1);
	cursor:pointer;
	font-size:14px;
	}

#jMenu li a:hover{
	background-color:#5D9CEC;
	}

#jMenu li:hover>a{
	background-color:#5D9CEC;
	}

#jMenu li ul{
	display:none;
	position:absolute;
	z-index:9999;
	padding:0;
	margin:0;
	list-style:none;
	}

#jMenu li ul li{
	background-color:#4A89DC;
	display:block;
	/*border-bottom:1px solid rgba(0, 0, 0, 0.1);*/
	padding:0;
	list-style:none;
	position:relative;
	}

#jMenu li ul li a{
	text-transform:none;
	display:block;
	padding:6px;
	border-top:1px solid rgba(255, 255, 255, 0.2);
	border-bottom:1px solid rgba(0, 0, 0, 0.1);
	}

#jMenu li ul li a.isParent{
	background-color:#5D9CEC;
	/*border-bottom:1px solid rgba(0, 0, 0, 0.1);*/
	}

#jMenu li ul li a:hover{
	background-color:#5D9CEC;
	/*border-bottom:1px solid #322f32;*/
	}

ul, li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.tab {
    border-bottom: 2px solid #978e83;
}

.tab li a {
    background: none repeat scroll 0 0 #fff;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #666;
    cursor: pointer;
    float: left;
    font-size: 1.2em;
    margin-right: 2px;
    padding: 7px 20px;
    text-align: center;
    transition: all 0.25s ease 0s;
}

.tab li a:hover{
	background-color:#5D9CEC;
	border-color:#5D9CEC;
	color:#FFF;
}
